extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/forms.css")
  link(rel="stylesheet", href="/css/auth.css")

block content
  main
    form.login-form(action="/save-new-password", method="POST")
      .form-control(class=validationErrors.some((e) => e.path === "password") ? "form-control--invalid" : "")
        label(for="password") Password
        input#password(type="password", name="password", value=oldInput.password, required)
      .form-control(class=validationErrors.some((e) => e.path === "confirmPassword") ? "form-control--invalid" : "")
        label(for="confirmPassword") Confirm Password
        input#confirmPassword(type="password", name="confirmPassword", value=oldInput.confirmPassword, required)
      input(type="hidden", name="_csrf", value=csrfToken)
      input(type="hidden", name="userId", value=userId)
      input(type="hidden", name="resetToken", value=resetToken)
      if (errorMessage.length > 0)
        .user-message.user-message--error #{ errorMessage }
      button.btn(type="submit") Save new password
