extends ../layouts/main-layout.pug

block content
  main
    if products.length > 0
      h1 Cart
      ul
        each product in products
          li #{ product.title } (#{ product.cartItem.quantity }) - $#{ product.price * product.cartItem.quantity }
            form(action="/cart-delete-product", method="post")
              input(type="hidden", name="productId", value=product.id)
              button.btn(type="submit") Delete
      p Total: $#{ totalPrice }
    else
      h1 No Products In Cart!
